


<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

{% if providers is not defined %}
    {% set providers = admin.datagrid.results %}
{% endif %}

<div class="col-md-12">
    <div style="width:{{ (width is defined) ? width : '100%' }};margin: auto;">
        <canvas id="canvas"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
{#<script src="{{ asset('bundles/mfwweb/js/dataTables-1.10.12/jquery.dataTables.min.js') }}"></script>#}
<script src="{{ asset('bundles/admin/js/chart/Chart.bundle.js') }}"></script>
<script src="{{ asset('bundles/admin/js/chart/utils.js') }}"></script>
<script>
    $(document).ready(function () {
        {#$('#dataTables-results').DataTable({#}
        {#"order": [[6, "desc"]],#}
        {#{% if currentPosition is defined %}#}
        {#"displayStart": {{ (currentPosition - 5 < 0) ? '0': currentPosition - 5 }},#}
        {#{% endif %}#}
        {#"language": {#}
        {#"url": "{{ asset('bundles/mfwweb/jsons/spanish-datatables.json') }}"#}
        {#}#}
        {#});#}

        {#$('#modalButtonCancel').focus();#}

        {% set indexcolor = 0 %}

        var MONTHS = [];
        {% for provider in providers %}

            {% if provider.balance > 0 %}
                MONTHS.push("{{ provider.name }}");
            {% endif %}

        {% endfor %}
//            var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var config = {
            type: 'doughnut',
            data: {
//                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                labels: MONTHS,
                datasets: [
                    {#{% for provider in providers if(provider.balance > 0) %}#}
                        {
                        // label: MONTHS,
                        fill: true,
                        backgroundColor: [
                            {% for provider in providers if (provider.balance > 0) %}
                                {% set indexcolor = indexcolor + 1 %}
                                Samples.utils.color({{ loop.index }}),
                            {% endfor %}
                            ],
                        borderColor: [
                            {% set indexcolor = 0 %}
                            {% for provider in providers if (provider.balance > 0) %}
                            {% set indexcolor = indexcolor + 1 %}
                            Samples.utils.color({{ loop.index }}),
                            {% endfor %}
                        ],
                        data: [
                            {% for provider in providers if (provider.balance > 0) %}
                                {{ provider.balance }},
                            {% endfor %}
                        ],

                        },
                    {#{% endfor %}#}
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Your Progress'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    });
</script>
